# Configure environment.
language: java
jdk:
- oraclejdk8
cache:
   directories:
      - "$HOME/.m2/repository"

# Do integration test on configured PrimeFaces versions.
env:
   - PRIMEFACES=6.2
   - PRIMEFACES=6.1
   - PRIMEFACES=6.0
script: mvn verify -Dmaven.javadoc.skip=true -Dtest.primefaces.version=$PRIMEFACES

# Do snapshot deployment.
deploy:
   provider: script
   script: mvn deploy -Dmaven.test.skip -s settings.xml
   skip_cleanup: true
   on:
      branch: develop
      condition: "$PRIMEFACES = 6.2"
